<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments :: page_head('Forgot Password', 'none')}" />
<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: header_menu}"></div>
		<div align="center" class="mt-2">
			<h3 class="text-center mb-3 text-primary">[[${pageTitle}]]</h3>
			<div th:if="${message != null}" id="messageAlert"
				class="alert alert-success alert-dismissible fade show col-8 mx-auto text-center"
				role="alert">
				<div th:utext="${message}"></div>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>
			<div th:if="${error != null}" id="messageAlert"
				class="alert alert-danger alert-dismissible fade show col-8 mx-auto text-center"
				role="alert">
				[[${error}]]
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>
		</div>

		<form th:action="@{/forgot_password}" method="post"
			style="max-width: 800px; margin: 0 auto; margin-bottom: 20px;"
			enctype="multipart/form-data">
			<div class="border border-primary rounded  pe-0 py-4">
				<div class="text-center">
					<label class="col-form-label">We will be sending a reset
						password link to your email.</label>
				</div>
				<div class="input-group my-3">
					<div class="col-10 col-sm-10 mx-auto">
						<input type="email" name="email" class="form-control"
							required="required" autofocus="autofocus"
							placeholder="Enter your email" />
					</div>
				</div>
				<div class="mt-2 text-center">
					<input type="submit" value="Send" class="btn btn-primary me-2" />
					<input type="button" value="Cancel" class="btn btn-secondary"
						id="buttonCancel" />
				</div>
			</div>
		</form>
		<div th:replace="~{modal_fragments :: modal_dialog}"></div>
		<div th:replace="~{fragments :: footer}"></div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"></script>
		<script type="text/javascript">
			let contextPath = "[[@{/}]]"
		</script>
		<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
		<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
	</div>
</body>
</html>
