<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments :: page_head(${pageTitle}, 'none')}" />
<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: header_menu}"></div>
		<div align="center" class="mt-4">
			<h3 th:if="${message != null}" class="text-center mb-3 text-danger">[[${pageTitle}]]</h3>
			<h3 th:unless="${message != null}"
				class="text-center mb-3 text-primary">[[${pageTitle}]]</h3>
			<!-- 
						<div th:if="${message != null}" id="messageAlert"
							class="alert alert-success alert-dismissible fade show col-8 mx-auto text-center"
							role="alert">
							[[${message}]]
							<button type="button" class="btn-close" data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>
			 -->
			<div id="conpasscheck"
				class="alert alert-danger alert-dismissible fade show col-6 mx-auto text-center"
				role="alert">
				Confirm Password Do Not Match!
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>
		</div>
		<th:block th:if="${message == null}">
			<form th:action="@{/reset_password}" onsubmit="return validateForm()"
				method="post" style="max-width: 800px; margin: 0 auto">
				<input type="hidden" th:value="${resetPasswordToken}"
					name="resetPasswordToken" />
				<div class="border border-primary rounded p-4 pe-0">
					<div class="input-group mb-3 row">
						<label class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-9">
							<input type="password" id="password" class="form-control"
								required="required" name="password" maxlength="64" minlength="8"
								onfocus="hideMessage()" autofocus="autofocus" />
						</div>
					</div>
					<div class="input-group mb-3 row">
						<label class="col-sm-3 col-form-label">Confirm Password</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" maxlength="64"
								required="required" minlength="8" id="confirmPassword"
								onfocus="hideMessage()" />
						</div>
					</div>
					<div class="mt-2 text-center">
						<input type="submit" value="Reset Password"
							class="btn btn-primary me-2" /> <input type="button"
							value="Cancel" class="btn btn-secondary" id="buttonCancel" />
					</div>
				</div>
			</form>
		</th:block>
		<div th:replace="~{modal_fragments :: modal_dialog}"></div>
		<div th:replace="~{fragments :: footer}"></div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"></script>
		<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
		<script type="text/javascript">
			let contextPath = "[[@{/}]]"
			$("#conpasscheck").hide();
			function validateForm() {
				let password = document.getElementById("password").value;
				let confirmPassword = document
						.getElementById("confirmPassword").value;
				if (password !== confirmPassword) {
					$("#conpasscheck").show();
					return false;
				}
				return true;
			}

			function hideMessage() {
				$("#conpasscheck").hide();
			}
		</script>
	</div>
</body>
</html>
