<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments :: page_head('Category Form', 'none')}" />

<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: navigationMenu}"></div>
		<div align="center" class="my-3">
			<h3>Manage Shipping Rate | [[${pageTitle}]]</h3>
		</div>
		<form th:action="@{/shipping_rates/save}" method="post"
			onsubmit="return checkUnique(this)"
			style="max-width: 600px; margin: 0 auto 20px auto;"
			th:object="${shippingRate}" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}">
			<div class="border border-secondary rounded p-4 pe-0">
				<h3 class="text-center mb-4 text-primary">[[${pageTitle}]]</h3>
				<div class="input-group mb-3 row">
					<label class="col-sm-3 col-form-label">Country</label>
					<div class="col-sm-9">
						<select class="form-select" th:field="*{country}">
							<th:block th:each="country : ${countriesList}">
								<option th:value="${country.id}">[[${country.name}]]</option>
							</th:block>
						</select>
					</div>
				</div>
				<div class="input-group mb-3 row">
					<label class="col-sm-3 col-form-label">State</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" maxlength="64"
							th:field="*{state}" list="states" />
						<datalist id="states">
						</datalist>
					</div>
				</div>

				<div class="input-group mb-3 row">
					<label class="col-sm-3 col-form-label">Shipping Rate</label>
					<div class="col-sm-9">
						<input type="number" class="form-control" th:field="*{rate}"
							required="required" min="0" max="100" />
					</div>
				</div>


				<div class="input-group mb-3 row">
					<label class="col-sm-3 col-form-label">Shipping Date</label>
					<div class="col-sm-9">
						<input type="number" class="form-control" th:field="*{days}"
							required="required" min="1" max="365" />
					</div>
				</div>

				<div class="input-group mb-3 row">
					<label class="col-sm-3 form-check-label">COD Support</label>
					<div class="col-sm-9 d-flex  align-items-center">
						<input type="checkbox" class="form-check-input"
							th:field="*{codSupported}" />
					</div>
				</div>

				<div class="mt-2 text-center">
					<input type="submit" value="Save" class="btn btn-primary me-2" />
					<input type="button" value="Cancel" class="btn btn-secondary"
						id="buttonCancel" />
				</div>
			</div>
		</form>

		<div th:replace="~{modal_fragments :: modal_dialog}"></div>
		<div th:replace="~{fragments :: footer}"></div>
	</div>
	<script type="text/javascript">
		contextPath = "[[@{/}]]";
		moduleURL = "[[@{/shipping_rates}]]"
	</script>
	<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
	<script type="text/javascript" th:src="@{/js/common_form_country_state.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>

</html>