<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{fragments :: page_head('Donations Admin - Login Page', 'none')}" />
<body>
	<div th:replace="~{navigation :: header_menu}"></div>
	<div class="container-fluid mt-5 text-center">
		<div class="mt-5 mb-5">
			<div class="col-11 col-sm-6 col-lg-4 mx-auto" th:if="${param.error}">
				<div class="alert alert-danger alert-dismissible" role="alert"
					id="mesFromServlet">
					<div class="text-center">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert"
						aria-label="Close"></button>
				</div>
			</div>
			<div class="col-11 col-sm-6 col-lg-4 mx-auto" th:if="${param.logout}">
				<div class="alert alert-warning alert-dismissible" role="alert"
					id="mesFromServlet">
					<div class="text-center">You have been logged out!</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert"
						aria-label="Close"></button>
				</div>
			</div>

			<div class="col-11 col-sm-6 col-md-4 col-lg-4  mx-auto">
				<form th:action="@{/login}" method="post">
					<div class="card text-start">
						<div class="card-header p-3 text-center">
							<b>Customer Login</b>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="email" class="form-label"><b>Email</b></label> <input
									type="email" name="email" id="email" class="form-control"
									placeholder="Email" aria-describedby="emailHid"
									required="required" />
							</div>

							<div class="form-group mt-2">
								<label for="" class="form-label"><b>Password</b></label> <input
									type="password" name="password" id="password"
									class="form-control" placeholder="Password" required="required"
									aria-describedby="passwordHid" />
							</div>
							<div class="form-check form-check-inline mt-2 d-flex justify-content-between">
								<label class="form-check-label"> <input
									class="form-check-input" type="checkbox" name="remember-me"
									id="" value="true" /> Remember Me?
								</label>
							</div>
							<div class="form-group text-center">
								<label for="" class="form-label"><b>Login in with</b></label>
								<div class="d-flex justify-content-center">
									<a class="btn btn-link btn-floating mx-1"	th:href="@{/oauth2/authorization/google}">
										<i class="fa-brands fa-google fa-2x"></i>
									</a> 
									<a class="btn btn-link btn-floating mx-1"	th:href="@{/oauth2/authorization/facebook}">
										<i class="fa-brands fa-facebook-f fa-2x"></i>
									</a> 
									<a  class="btn btn-link btn-floating mx-1" th:href="@{#}">
										<i	class="fa-brands fa-twitter fa-2x"></i>
									</a>
								</div>
							</div>
							<div class="form-group text-center mt-2">
								<label for="" class="form-label text-primary"><a th:href="@{/forgot_password}"><b>Forgot Password?</b></a></label>
							</div>
							<div class="form-group text-center mt-2">
								<label class="form-label">Don't have an account? <a
									th:href="@{/register}"><b>Sign up</b></a>
								</label>
							</div>
						</div>
						<div class="card-footer text-muted">
							<input type="submit" class="btn btn-primary" value="Log In" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div th:replace="~{fragments :: footer}"></div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>
</html>