<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<div th:fragment="content" th:remove="tag">
		<div>
			<p>Trang quản lý thông tin về các quốc gia sẽ hiển thị khi người
				dùng đăng ký tài khoản!</p>
		</div>
		<input id="loadCountryButton" type="button" value="Tải dữ liệu Quốc gia" class="btn btn-primary" />
		<div class="mt-3">
			<select class="form-control" style="height: 300px" size="15" id="dropDownCountries"></select>
		</div>
		<form id="countryForm">
			<div class="form-group row mt-3">
				<div class="col-12 col-lg-9 row pe-0">
					<div class="col-md row">
						<label class="col-form-label col-5" id="labelCountryName">Quốc
							gia</label>
						<div class="pe-0 col-7 ">
							<input type="text" class="form-control" id="fieldCountryName" required="required"
								minlength="8" maxlength="64" />
						</div>
					</div>
					<div class="col-md row mt-3 mt-md-0">
						<label class="col-form-label col-5 col-lg-4" id="labelCountryCode">Mã
							Quốc gia</label>
						<div class="pe-0 col-7 col-lg-8">
							<input type="text" class="form-control" id="fieldCountryCode" minlength="2" maxlength="8" />
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-3 d-flex justify-content-center  justify-content-lg-end mt-3 mt-lg-0">
					<input id="addCountryButton" type="button" value="New" class="btn btn-primary ms-2"> <input
						id="updateCountryButton" type="button" value="Update" class="btn btn-warning ms-2"
						disabled="disabled"> <input id="deleteCountryButton" type="button" value="Delete"
						class="btn btn-danger ms-2" disabled="disabled">
				</div>
			</div>
		</form>
	</div>
</body>

</html>